<!DOCTYPE html>
<html ng-app= "musicApp">
<head>
  <meta charset="utf-8">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=2.0"> -->
  <title>Music Fly</title>
  <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.css">
  <link rel="stylesheet" type="text/css" href="/font-awesome/css/font-awesome.css">
  <script type="text/javascript" src="/angular/angular.js"></script>
  <script type="text/javascript" src="/jquery/dist/jquery.js"></script>
  <script src="/semantic/dist/semantic.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.js"></script>

</head>
  <body>
    <div ng-controller="navController as nav">
      <div nav-bar></div>
    </div>
    <!--Landing -->

    <div id="landing" class="ui fluid container">
      <div class="hero-overlay">
      <div id="jumbotron">
        <h1 id="jumbotron-title">Your Music In One</h1>
        <div id="jumbotron-text">
          <p>Music Fly combines the music you love from Soundcloud and Spotify</p>
          <p></p>
          <div id="start-button">
            <a href="#music-section"><button class="ui inverted white button">Start Listening</button></a>
          </div>
        </div>
      </div>
      </div>
    </div>

  <!--information Section-->

    <div id="information-section" class="ui fluid container">
      <div class="both-sections ui stackable sixteen column grid">
        <!-- first -->
        <div id="first-section" class="ui five wide column">
          <div id="section-title">
            <h2>
              Music Anywhere
            </h2>
            <p>Music Fly is a MEAN Stack Application that utilizes the Spotify and Soundcloud APIs to bring music from both services. Search for different songs, create playlists, and play music all in one application. This website is for demo purposes only. All intellectual property belongs to either Spotify or Soundcloud and their affiliates</p>
          </div>
        </div>
        <!-- Second -->
        <div id="second-section" class="ui eleven wide column"></div>
      </div>
    </div>

    <!--Music Player -->
    <div id="music-player-header">
     <img src="assets/images/home/headphone.png" id="player-logo-img"><span id="player-logo">M</span></img>
       <div id="player-toggle">
         <i class="sidebar icon big"></i>
      </div>
    </div>
    <div id="music-section" ng-controller="musicPlayer as player">
      <!--Player Menu -->
      <div id="player-menu">
        <div id="menu-tools">
          <div class="ui search" id="search-spotify" ng-show='player.searchDisplay.spotify' data-search="spotify">
            <div class="ui icon input">
              <input id="spotify-box" class="prompt" type="text" ng-model="spotifyQuery" ng-keypress="player.spotifySearchEnter()" data-tab="search" placeholder="Spotify...">
              <i class="search icon"></i>
            </div>
          </div>
          <div class="ui search" id="search-sc" ng-show='player.searchDisplay.sc'>
            <div class="ui icon input">
              <input id="sc-box" class="prompt" type="text" ng-model="scQuery"
              ng-keypress="player.scSearchEnter()" data-tab="search" placeholder="SoundCloud..."/>
              <i class="search icon"></i>
            </div>
          </div>
          <div id="search-type">
            <div id="icon-box">
              <input name="company" type="radio" ng-click= "player.changeSearch($event)" data-search="sc" checked>
              SoundCloud
              </input>
              <i id="sc-icon" class="fa fa-soundcloud fa-2x soundcloud sc-active"></i><br>
              <input name="company" type="radio" ng-click= "player.changeSearch($event)" data-search="spotify">
              Spotify
              <i id="spotify-icon" class="fa fa-spotify fa-2x spotify"></i><br>
              </input>
            </div>
          </div>
          <div id="search">
            <div>
              <span class="music-tab" data-tab="search"></span>
            </div>
          </div>
          <div id="main">
           <span>Main</span>
           <div id="main-home" >
              <li class="music-tab" ng-click="player.switchTabs($event)" data-tab="home">
                <i class="home icon"></i>
                <span ng-click="player.switchTabs($event)" data-tab="home">Home</span>
              </li>
            </div>
          </div>
          <div id ="playlists">
            <div id="playlist-header">Playlists</div>
            <div>
              <li ng-repeat = "playlist in player.playlistTabs" class="music-tab playlist-tab" data-tab='{{playlist.name}}' data-playlist = "playlist.name" ng-click="player.switchTabs($event, playlist.name)">
                <i class="music icon"></i>
                {{playlist.name}}
              </li>
              <input id="playlist-field" type="text" ng-model="newPlaylist" ng-show="player.addPlaylistState" ng-keypress="player.createNewPlaylist($event)"/>
              <li id="playlist-add" ng-click="player.revealNewPlaylist()" ng-show="player.addPlaylistButton"><i class="ui plus icon"></i>Add new</li>
            </div>
          </div>
        </div>
        <div id="music-player" class="ui">
          <div  class="ui">
            <img ng-src= "{{player.playerImage}}" id="player-img" class="ui image centered">
          </div>
          <div id="player-track-info" class="">
            <div id="track-info">
              <h4 id="player-track-title">{{player.playerTitle}}</h4>
              <p id="player-track-artist">{{player.playerArtist}}</p>
            </div>
            <div id="player-controls">
              <i id="previous-btn" class="backward icon circular" ng-click="player.playPrevious()"></i>
              <i id="play-btn" class="large circular {{player.playStateButton}}" ng-click="player.togglePlay()"></i>
              <i id="next-btn" class="forward icon circular" ng-click="player.playNext()"></i>
            </div>
          </div>
         </div>
      </div>

      <!--Page Section -->
      <!-- <div id="pages-section" class=""> -->
        <div id="home-page" class="music-page ui grid eight wide column" data-page="home">
          <div id="home-content">
            <h4 class="list-title">Top Artists</h4>
              <div class="home-row ui row">
                <div class="ui grid eight wide column">
                  <div class="artist-box">
                    <img src="/assets/images/artists/calvin-harris.jpg">
                    <div class="ui dimmer">
                      <div class="content">
                        <div class="center">
                          <h5 class="ui inverted icon header">
                            Calvin Harris
                          </h5>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="artist-box">
                    <img src="/assets/images/artists/kendrick.jpg" class="">
                    <div class="ui dimmer">
                      <div class="content">
                        <div class="center">
                          <h5 class="ui inverted icon header">
                            Kendrick Lamar
                          </h5>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="artist-box ">
                    <img src="/assets/images/artists/coldplay.jpg" class="">
                    <div class="ui dimmer">
                      <div class="content">
                        <div class="center">
                          <h5 class="ui inverted icon header">
                            Coldplay
                          </h5>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="artist-box ">
                    <img src="/assets/images/artists/adele.jpg" class="">
                    <div class="ui dimmer">
                      <div class="content">
                        <div class="center">
                          <h5 class="ui inverted icon header">
                            Adele
                          </h5>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="artist-box">
                    <img src="/assets/images/artists/drake.jpg" class="">
                    <div class="ui dimmer">
                      <div class="content">
                        <div class="center">
                          <h5 class="ui inverted icon header">
                            Drake
                          </h5>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="artist-box">
                    <img src="/assets/images/artists/twenty-one.jpg" class="">
                    <div class="ui dimmer">
                      <div class="content">
                        <div class="center">
                          <h5 class="ui inverted icon header">
                            Twenty One Pilots
                          </h5>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="artist-box">
                    <img src="/assets/images/artists/chainsmokers.jpg" class="">
                    <div class="ui dimmer">
                      <div class="content">
                        <div class="center">
                          <h5 class="ui inverted icon header">
                            The Chainsmokers
                          </h5>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="artist-box">
                    <img src="/assets/images/artists/selena.jpg" class="">
                    <div class="ui dimmer">
                      <div class="content">
                        <div class="center">
                          <h5 class="ui inverted icon header">
                            Selena Gomez
                          </h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <div id="song-interface" class="music-page page-structure hidden" data-page="search">
          <div id="search-page">
            <div id="search-list" >
              <h4 class="list-title">Search Results</h4>
              <div song-list></div>
            </div>
          </div>
        </div>
        <div ng-repeat= "playlistPage in player.playlistTabs" data-page="{{playlistPage.name}}" class="music-page page-structure hidden">
          <div id="playlist-page">
            <div id="playlist-list">
              <h4 class="list-title">{{playlistPage.name}}</h4>
              <div song-list></div>
            </div>
          </div>
        </div>
      <!-- </div> -->
    </div>
  <script type="text/javascript" src="/underscore/underscore.js"></script>
 <script src="/annyang.min.js"></script>
  <script src="https://connect.soundcloud.com/sdk/sdk-3.0.0.js"></script>
  <script type="text/javascript" src="/js/scripts.min.js"></script>
  </body>
</html>
