// Offsets fixed navbar for all pages besides home
.mf-l-page {
  $nav-height: 90px;
  margin-top: $nav-height;
}

// Fully stretches a section
.mf-l-full-stretch {
  padding-left: 0px;
  padding-right: 0px;
}

.m-l-full-height {
  height: 100%;
}

.m-l-full-width {
  width: 100%;
}

.mf-l-center-block {
  display: block;
  margin:auto;
}

.m-l-inline {
  display: inline
}