// Layout classes for different types of sections

.mf-l-content {
  @include content-space();
}

.mf-l-content-sides {
  @include content-space();
  padding-top: 0;
  padding-bottom: 0;
}

.mf-l-content-none {
  padding: 0;
}

.mf-l-content-bottom {
  padding-bottom: 30px;
}

.mf-l-content-small {
  padding: 10px;
}

.mf-l-content-xs {
  padding: 5px;
}

.mf-l-content-sides-xs {
  padding: 0 5px;
}
