// Media Query Breakpoints

// Extra small screen / phone
$screen-xs-min:              480px;

// Small screen / tablet
$screen-sm-min:              768px;

// Medium screen / desktop
$screen-md-min:              960px;

// Large screen / wide desktop
$screen-lg-min:              1200px;
