// Companies
$spotify: #2ebd59;
$soundcloud: #ff8800;

// Oranges
// $dark-orange: #C88F28;
$dark-orange: #ff8300;
$light-orange: #FF8300;

// Grey
$grey: #828282;

// Black
$playerBlack: #212223;

// white
$white: #ffffff;
