$header-font: Helvetica, Arial, san-serif;
$body-font: lato, arial, Open-Sans;

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;
}

p {
  font-family: $body-font;
}

a {
  font-family: $body-font;
}
