nav-bar {
    position: sticky;
  .mf-navbar {
    color: black;
    background:transparent;
    margin-top: 40px;
  }

  navbar-nav > li > a {
    padding-bottom: 0px;
  
  }
  // Logo Styling
  logo {
    .main-logo {
      .first-letter {
        top: 5px;
        left: 67px;
      }

    }
  }

  md-sidenav {
    background-color: $playerBlack;
    position: fixed;
  }

  .navbar-toggle > span {
      background-color: $playerBlack;
  }

}
