nav-bar {

  $alt-nav-height: 90px;

  %home-nav {
    background:transparent;
    margin-top: 40px;
  }

  %nav-transition {
    @include transition(all, .2s);
    &.ng-hide {
      opacity: 0;
    }
  }

  // Home Nav
  .mf-navbar {
    @extend %home-nav;
    @extend %nav-transition;

    .navbar-toggle  {
      border: 1px solid $playerBlack;
      span{
        background-color: $playerBlack
      }
    }
  }

  // Alt Nav
  .navbar-inverse {
    @extend %nav-transition;
    height: $alt-nav-height;

    .main-logo {
      .first-letter {
        @include move-left(25px);
      }
    }

    .full-title {
      visibility: hidden;
    }
  }

  // Side nav
  md-sidenav {
    background-color: $playerBlack;
    position: fixed;
  }

  // Logo Styling
  logo {
    .main-logo {
      .first-letter {
        top: 5px;
        left: 67px;
      }

    }
  }

  // Bootstrap Overrides
  navbar-nav > li > a {
    padding-bottom: 0px;
  }

  .navbar-toggle {
    margin-top: 30px;
  }

}
