#music-app {
  /*background-image:url(../assets/images/music-player/mosaic.jpg);*/
  margin-left: 20px;
  margin-right: 20px;
  height: 2000px; }

#logo {
  margin-right: 60px;
  margin-left: 80px;
  font-family: helvetica; }

#logo-title-m {
  color: #FF8300;
  position: absolute;
  left: -66px;
  font-size: 45px; }

#logo-title {
  position: relative;
  top: 10px;
  font-size: 25px;
  left: -20px;
  color: white;
  letter-spacing: 1px; }

#logo-picture {
  width: 70px;
  position: absolute;
  left: -82px;
  top: -18px; }

/*Search Fields */
#search-type {
  margin-bottom: 10px; }

.soundcloud {
  color: #ff8800; }

.spotify {
  color: #2ebd59; }

#icon-box {
  display: inline-block;
  margin-left: 2px;
  cursor: pointer; }

#sc-box {
  width: 120px;
  color: black; }

#spotify-box {
  width: 120px;
  color: black; }

#music-app {
  margin-top: 50px;
  /*  border: solid;*/
  height: 500px; }

/* Music Player*/
#music-player {
  margin-top: 40px; }

#player-track-title {
  margin-bottom: 0px; }

#track-info {
  margin-top: 10px;
  text-align: center; }

#player-track-artist {
  margin-bottom: 0px; }

#player-img {
  width: 100%;
  height: 140px; }

#player-controls {
  text-align: center;
  margin-top: 10px; }

/*player Tabs*/
#player-menu {
  /* color: white;*/
  width: 220px !important;
  position: fixed;
  /*background-color: black;*/
  height: 1000px; }

#top-artists {
  /*margin-top: 20px;*/ }

#playlist-add {
  display: block; }

#playlist-field {
  width: 100px;
  display: block; }

#playlists {
  margin-top: 10px; }

.playlist-tab {
  margin-left: 7px; }

.music-tab {
  cursor: pointer;
  list-style-type: none; }

/*Player Pages */
#pages-section {
  position: relative;
  left: 300px; }

.hidden {
  display: none; }

.music-page {
  list-style-type: none; }

/* Track List */
#search-list {
  margin-top: 20px; }

.songs {
  list-style: none; }

.highlight {
  color: blue; }

.song-img {
  width: 100px;
  height: 100px; }

.song-option-icon {
  margin-left: 10px; }

.song-play-btn {
  cursor: pointer; }

.song-list-info {
  margin-top: 10px; }
