#music-app {
  margin-top: 50px;
  border: solid;
  height: 500px; }

/* Music Player*/
#music-player {
  position: fixed; }

#track-info {
  margin-top: 30px; }

#player-track-artist {
  margin-bottom: 4px; }

#player-controls {
  text-align: center;
  margin-top: 30px; }

/*player Tabs*/
#playlist-add {
  display: block; }

#playlist-field {
  width: 100px; }

#playlists {
  margin-top: 12px; }

.music-tab {
  list-style-type: none; }

/*Player Pages */
.hidden {
  display: none; }

.music-page {
  list-style-type: none; }

/* Track List */
#search-list {
  margin-top: 20px; }

.songs {
  list-style: none; }

.highlight {
  background-color: blue; }
