/* Global */
li {
  list-style-type: none; }

/* Main */
#music-app {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0px;
  font-size: 1.1em; }

#logo {
  margin-right: 60px;
  margin-left: 80px;
  font-family: helvetica; }

#logo-title-m {
  color: #FF8300;
  position: absolute;
  left: -66px;
  font-size: 45px; }

#logo-title {
  position: relative;
  top: 10px;
  font-size: 25px;
  left: -20px;
  color: white;
  letter-spacing: 1px; }

#logo-picture {
  width: 70px;
  position: absolute;
  left: -82px;
  top: -18px; }

/*Search Fields */
#search-header {
  font-weight: 900; }

#search-type {
  margin-bottom: 10px; }

.soundcloud {
  color: #ff8800; }

.spotify {
  color: #2ebd59; }

#spotify-icon {
  margin-left: 4%; }

#sc-icon {
  margin-left: 4%; }

#icon-box {
  margin-left: 2px;
  cursor: pointer;
  margin-top: 7px; }

#sc-box {
  width: 180px;
  border-radius: 0px; }

#spotify-box {
  width: 180px;
  border-radius: 0px; }

/*player Tabs*/
#menu-tools {
  padding-top: 30px; }

#player-menu {
  color: #828282;
  margin-top: 7px;
  width: 220px !important;
  position: absolute; }

#main {
  margin-top: 30px;
  font-weight: 900; }

#main-home {
  margin-top: 8px;
  margin-left: 7px;
  font-weight: 300; }

#playlist-add {
  margin-left: 7px;
  font-weight: 300;
  cursor: pointer;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color; }

#playlist-add:hover {
  background-color: #FF8300;
  color: white; }

#playlist-header {
  margin-bottom: 8px; }

#playlist-field {
  width: 100px;
  display: block;
  font-weight: 300;
  font-size: 1em;
  margin-left: 27px; }

#playlists {
  margin-top: 10px;
  font-weight: 900; }

.playlist-tab {
  margin-left: 7px;
  font-weight: 300; }

.music-tab {
  width: 100%;
  cursor: pointer;
  list-style-type: none;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color; }

.music-tab:hover {
  background-color: #FF8300;
  color: white; }

/*Player Pages */
#pages-section {
  color: #828282;
  cursor: default;
  width: 1480px;
  position: relative;
  left: 220px; }

.hidden {
  display: none; }

.music-page {
  list-style-type: none; }

#song-interface {
  padding-top: 30px;
  padding-left: 80px; }

#playlist-page {
  padding-top: 30px;
  padding-left: 80px; }

#track-list {
  margin-top: 30px; }

.search-title {
  color: black; }

.playlist-title {
  color: black; }

/* Home Page */
#jumbotron {
  position: absolute;
  top: 200px;
  left: 60px; }
  #jumbotron p {
    color: white; }

#jumbotron-title {
  font-size: 3em;
  color: #FF8300; }

#hero-img {
  width: 1460px;
  -webkit-filter: contrast(70%); }

#jumbotron-search {
  margin-top: 60px;
  margin-left: 100px; }
  #jumbotron-search p {
    color: #FF8300;
    margin-left: 100px; }

/* Music Player*/
#music-player {
  margin-top: 50px;
  left: -20;
  width: 215px;
  padding-right: 15px; }

#player-track-title {
  margin-bottom: 0px; }

#track-info {
  margin-top: 10px;
  text-align: center; }

#player-track-artist {
  margin-bottom: 0px; }

#player-img {
  width: 180px;
  height: 150px; }

#player-controls {
  text-shadow: #fff 0 0 10px;
  text-align: center;
  margin-top: 10px;
  color: #FF8300; }

/* Track List */
#search-list {
  margin-top: 20px; }
  #search-list h4 {
    font-size: 1.8em; }

#playlist-list {
  margin-top: 20px; }
  #playlist-list h4 {
    font-size: 1.8em; }

.songs {
  list-style: none; }

.highlight {
  color: blue; }

.song-img {
  width: 150px;
  height: 150px; }

.song-option-icon {
  margin-left: 10px;
  margin-right: 3px; }

.song-play {
  color: #FF8300;
  margin-bottom: 15px; }

.song-play-btn {
  cursor: pointer; }

.song-list-info {
  margin-top: 10px; }

.playlist-add-button {
  padding: 8px !important; }

/*media queries*/
@media (min-width: 1700px) {
  body {
    margin-left: auto;
    margin-right: auto;
    width: 1700px; }
  #pages-section {
    width: 1600px; }
  #navigation {
    width: 1700px; }
  #song-interface {
    padding-left: 150px; }
  #playlist-page {
    padding-left: 150px; } }

@media (max-width: 1000px) {
  .song-img {
    width: 100px;
    height: 100px; }
  .song-description {
    padding-left: 50px;
    font-size: 14px; }
  .playlist-add-button {
    font-size: 10px; } }

@media (max-width: 770px) {
  #song-interface {
    padding-left: 10px; }
  #playlist-page {
    padding-left: 10px; } }
