

player-interface {
  $interface-height-negative: -120px;

  .player-interface {
    z-index: 100;
    background-color: $lowContrastBlack;
    display:flex;
    align-items: center;
    width: 100%;

    @include fixed-bottom();
    @include transition (bottom, .7s);
    
    // Enable transition animations
    &.ng-hide {
      bottom: $interface-height-negative
    }

    h4 {
      text-transform: none;
    }

    div {
      display: inline-block;
    }

    .player-image {
      img {
        width: 80px;
      }
    }

    .player-info {
      width: 200px;
      @include tablet () {
        width: 350px;
      }
      p {
        color: $light-grey;
      }
    }
    
    .player-controls {     
      flex-grow: 1;

      @include tablet () {
        margin-right: 150px;
      }

      div {
        display: block;
      }

      // Play Buttons
      play-button {
        .play-button {
          margin-top: 20px;
          display: flex;
          justify-content: center;
          font-size: 25px;
        }  
      } 
    }

    // Toggle Button
    .toggle-btn {
      width: 65px;
      height: 20px;
      position:absolute;
      top: -22px;
      left: 3px;
      background-color: $lowContrastBlack;
      color: $white;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
  }
}
