// %background {
//   background-color: rgba(241,231,103,1);
//   background: rgba(241,231,103,1);
//   background: -moz-linear-gradient(top, rgba(25,25,23,1) 85%, rgba(255,131,0,1) 100%);
//   background: -webkit-gradient(left top, left bottom, color-stop(100%, rgba(25,25,23,1)), color-stop(100%, rgba(255,131,0,1)));
//   background: -webkit-linear-gradient(top, rgba(25,25,23,1) 85%, rgba(255,131,0,1) 100%);
//   background: -o-linear-gradient(top, rgba(25,25,23,1) 85%, rgba(255,131,0,1) 100%);
//   background: -ms-linear-gradient(top, rgba(25,25,23,1) 85%, rgba(255,131,0,1) 100%);
//   background: linear-gradient(to bottom, rgba(25,25,23,1) 85%, rgba(255,131,0,1) 100%);
//   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#191717', endColorstr='#ff8300', GradientType=0 );
// }

player-interface {
  .player-interface {
    display:flex;
    align-items: center;
    width: 100%;
    // @extend %background;
    @include fixed-bottom();
    background-color: $lowContrastBlack;

    h4 {
      text-transform: none;
    }

    div {
      display: inline-block;
    }

    .player-image {
      img {
        width: 90px;
      }
    }

    .player-info {
      width: 200px;
      @include tablet () {
        width: 350px;
      }
      p {
        color: $light-grey;
      }
    }
    
    .player-controls {     
      flex-grow: 1;

      @include tablet () {
        margin-right: 150px;
      }

      div {
        display: block;
      }

      // Play Buttons
      play-button {
        .play-button {
          margin-top: 20px;
          display: flex;
          justify-content: center;
          font-size: 25px;
        }  
      } 
    }

  }
}
