// %background {
//   background-color: rgba(241,231,103,1);
//   background: rgba(241,231,103,1);
//   background: -moz-linear-gradient(top, rgba(25,25,23,1) 85%, rgba(255,131,0,1) 100%);
//   background: -webkit-gradient(left top, left bottom, color-stop(100%, rgba(25,25,23,1)), color-stop(100%, rgba(255,131,0,1)));
//   background: -webkit-linear-gradient(top, rgba(25,25,23,1) 85%, rgba(255,131,0,1) 100%);
//   background: -o-linear-gradient(top, rgba(25,25,23,1) 85%, rgba(255,131,0,1) 100%);
//   background: -ms-linear-gradient(top, rgba(25,25,23,1) 85%, rgba(255,131,0,1) 100%);
//   background: linear-gradient(to bottom, rgba(25,25,23,1) 85%, rgba(255,131,0,1) 100%);
//   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#191717', endColorstr='#ff8300', GradientType=0 );
// }

player-interface {
  .player-interface {
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    // @extend %background;
    @include fixed-bottom();
    background-color: $playerBlack;

    h4 {
      text-transform: none;
    }

    div {
      display: inline-block;
    }

    .player-image {
      img {
        width: 90px;
      }
    }

    .player-info {
      width: 350px;
      flex-grow: 1;
    }
    
    .player-controls {
      flex-grow: 2;
      div {
        display: block;
      }

      // Play Buttons
      play-button {
        .play-button {
          display: flex;
          justify-content: center;
          font-size: 30px;
        }  
      } 

      duration-bar {
        .duration-bar {
          display: flex;
          justify-content: center;
          .entire-bar {
            width: 500px;
          }
        }
      }
    }

  }
}
