song-list {
  .song-list {

    div {
      display: inline;
    }

    span {
      display:inline-block;
    }

    .song {
      border-bottom: 1px solid $panelBlack;

      .song-img {
        width: 70px;
      }

      .glyphicon {
        visibility: hidden;
        font-size: 30px;
        color: $light-orange;
      }

      .song-name {
        @include text-ellipsis(200px);
      }

      .song-artist {
        @include text-ellipsis(100px);
      }

      &:hover .glyphicon {
        visibility: visible;
      }

    }
  }
}
