%flexible-cells {
  flex-grow: 1;

  &:first-child {
    flex-grow: 0
  }
}

song-list {
  .song-list {

    div {
      display: inline;
    }

    span {
      display:inline-block;
    }

    table {
      width: 100%;

      tr {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      // Gives all cells except first a flex grow
      td {
        @extend %flexible-cells;
      }

      tr {
        @extend %flexible-cells;
      }
    }

    .active-song td span {
      color: $light-orange;
    }

    .song {
      border-bottom: 1px solid $panelBlack;

      .song-img {
        flex-grow: 0;
        width: 70px;
      }

      .glyphicon {
        visibility: hidden;
        font-size: 30px;
        color: $light-orange;
      }

      .song-name {
        @include text-ellipsis(200px);
      }

      .song-artist {
        @include text-ellipsis(100px);
      }

      &:hover .glyphicon {
        visibility: visible;
      }

    }
  }
}


// .middle-circle {
//   width: 15px;
//   background-color: black;
//   position: absolute;
//   border-radius: 45px;
//   height: 15px;
//   z-index: 1;
//   border: 4px solid white;
//   /* transform: translate(200%,0%); */
//   top: 58%;
//   left: 40px;
// }
  