logo {
  color: $light-orange;
  font-family: helvetica;


  .first-letter {
    display: inline-block;
    font-size: 45px;
    position: relative;

    img {
      cursor: pointer;
      position: relative;
      left: -67px;
      top: -20px;
      width: 70px;
    }
  }
}
