
logo {

  color: $light-orange;
  font-family: helvetica;
  cursor: pointer;

  .first-letter {
    display: inline-block;
    font-size: 45px;
    position: relative;

    img {
      position: relative;
      left: -67px;
      top: -20px;
      width: 70px;
    }
  }
}
