music-page {
  .music-page {
    background-color: $playerBlack;
    // Overflow hidden for phone stretching issue
    overflow-x: hidden;

    @include tablet() {
      margin-left: $music-panel-width;
    }
  }
}
