music-page-row {
  .row {
    background-color: $playerBlack;
  }

  .results-header {
    margin-left: 15px;
  }

  span {
    text-transform: none;
  }

  .delete-text {
    font-size: 13px;
    padding: 0 0 0 70px;
    display: none;
  }

  .show-delete {
    display: inline-block !important;
  }
}
