<div id="navigation" class="ui inverted segment">
  <div class="ui inverted secondary pointing menu">
    <a id="logo" class="item">
     <span id="logo-title-m">M</span><span id="logo-title">usic Fly</span><img src="assets/images/home/headphone.png" id="logo-picture"></img>
    </a>
    <a id="sign-up-btn" class="item right aligned">
      Sign Up
    </a>
    <a id="log-in-btn" class="item">
      Log In
    </a>
    <!-- <a id="log-in-welcome" class="item">Welcome {{nav.currentUser}}</span></a> -->
  </div>
</div>

<!-- Sign Up Modal -->
<div id="sign-up-modal" class="ui modal">
  <i class="close icon"></i>      
  <div id="modal-background" class="description">
    <div class="header">
      <h2 id="sign-up-modal-title">Sign Up</h2>
      <form class="ui form" name="userForm" id="sign-up-fields">
        <div class="field">
          <label for="username" >Username</label>
          <input id="username"type="text" ng-model="nav.createUserName"/>     
        </div>
        <div class="field">
          <label for="password" ng-model="password">Password</label>
          <input id="password" type="text">  
        </div>    
      </form>
    </div>
  </div>
  <div class="actions actions-bar">
    <button class="ui positive button" id="form-submit-btn" type="submit" ng-click="nav.createProfile()">Sign Up</button>
    <div class="ui black deny button">
      Cancel
    </div>
  </div>
</div>

<!-- Log In Modal -->
<div id="log-in-modal" class="ui modal">
  <i class="close icon"></i>      
  <div id="modal-background" class="description">
    <div class="header">
      <h2 id="log-in-modal-title">Log In Up</h2>
      <form class="ui form" name="userForm" id="log-in-fields">
        <div class="field">
          <label for="username" ng-model="username">Username</label>
          <input id="username" type="text" ng-model="nav.loginName"/>     
        </div>
        <div class="field">
          <label for="password" ng-model="password">Password</label>
          <input id="password" type="text" ng-model="nav.loginPassword">  
        </div>    
      </form>
    </div>
  </div>
  <div class="actions actions-bar">
    <button class="ui positive button" id="form-submit-btn" type="submit" ng-click="nav.login()">Log In</button>
    <div class="ui black deny button">
      Cancel
    </div>
  </div>
</div>