<div id="music-player" class="ui">
  <div  class="ui">
    <img ng-src= "{{$ctrl.currentTrack.image}}" id="player-img" class="ui image centered">
  </div>
  <div id="player-track-info" class="">
    <div id="track-info">
      <h4 id="player-track-title">{{$ctrl.currentTrack.name}}</h4>
      <p id="player-track-artist">{{$ctrl.currentTrack.name}}</p>
    </div>
    <div id="player-controls">
      <i id="previous-btn" class="backward icon circular" ng-click="player.playPrevious()"></i>
       <i id="play-btn" class="icon large circular" ng-click="player.togglePlay()"> </i>
      <i id="next-btn" class="forward icon circular" ng-click="player.playNext()"></i>
    </div>
  </div>
 </div>
