<div id="track-list" class="ui grid sixteen wide column">  
  <div class="songs ui row" ng-repeat= "track in player.tracks" data-song = '{{track.key}}' data-company ='{{track.company}}'>
    <div class = "ui grid sixteen wide column">
      <div class="ui three wide column">
        <img class=" song-img" ng-src="{{track.image}}"/>
      </div>
      <div class="ui grid thirteen wide column">
        <div class="ui ten wide column song-description">
          <div class="song-play">
            <i class="play icon song-play-btn" ng-click="playMusic($event)" data-song="{{track.name}}"></i><span class="song-play-btn" data-song="{{track.name}}" ng-click="playMusic($event)">Play</span>
          </div>
          <div>
            <span>{{track.name}}</span>
            <p>{{track.artist}}</p>
            <p>{{track.album}}</p>
            <div class="song-options">
              <a href="{{track.pageSource}}">Listen on <i class="fa fa-{{track.company}} song-option-icon {{track.company}}"></i><span class="{{track.company}}">{{track.company}}</span>
              </a>
            </div>      
          </div>
        </div>
        <div class="ui three wide column">
          <div ng-show="track.deleteAble.state">
            <button class="delete-button ui button" ng-click="player.removeTrack(track.key)"><i class="trash outline icon"></i>Delete</button>
          </div>  
          <div class="ui dropdown segment playlist-add-button" ng-click="openDropDown()">
            <div class="default dropdown-text">Add To</div>
            <i class="dropdown icon"></i>      
            <div class="menu">
              <div class="item" ng-repeat="playlist in player.playlistTabs" ng-click= 'player.addTrack(track.key, playlist.name)'>
                {{playlist.name}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ui section divider"></div>        
    </div>    
  </div>
</div>
