<section class="song-list">
  <music-page-row header="Search Results" ng-if="$ctrl.showTable">
    <table>
      <tr>
        <th class="hidden-xs"></th>
        <th class="mf-l-content-sides">Title</th>
        <th>Artist</th>
        <th>Duration</th>
      </tr>

      <!-- Description -->
      <tr class="prevent-wrapping default-cursor song"
          ng-repeat= "track in $ctrl.tracks track by $index"
          ng-click="$ctrl.playMusic(track)"
          ng-class="{'active-song': $ctrl.selectedSong.name === track.name}">

        <td class="hidden-xs mf-l-relative-parent">
          <img class="song-img" ng-src="{{track.image}}"/>
          <play-button role-type="trackList"></play-button>
        </td>
        <td class="mf-l-content-sides">
          <span class="song-name">{{track.name}}</span>
        </td>
        <td>
          <span class="song-artist">{{track.artist}}</span>
        </td>
        <td>
          <span class="song-duration">{{track.duration}}</span>
        </td>

      </tr>

      <!-- <div>
        <a class="song-company" href="{{track.pageSource}}">Listen on<i class="fa fa-{{track.company}} song-option-icon {{track.company}}"></i><span class="{{track.company}}">{{track.company}}</span>
        </a>
      </div> -->

    </table>
  </music-page-row>


</section>



<!-- <div ng-repeat= "track in $ctrl.tracks track by $index">
  <div>
    <div >
      <div>
        <img class=" song-img" ng-src="{{track.image}}"/>
      </div>
      <div class="ui grid thirteen wide column">
        <div class="ui ten wide column song-description"> -->

          <!-- play button -->
          <!-- <div class="song-play">
            <play-button song="track" index="$index" role-type="trackList"></play-button>
          </div> -->

          <!-- Track Info -->
          <!-- <div>
            <span>{{track.name}}</span>
            <p>{{track.artist}}</p>
            <p>{{track.album}}</p>
            <div class="song-options">
              <a href="{{track.pageSource}}">Listen on <i class="fa fa-{{track.company}} song-option-icon {{track.company}}"></i><span class="{{track.company}}">{{track.company}}</span>
              </a>
            </div>
          </div>

        </div>

        <div class="ui three wide column"> -->

         <!-- dropdown -->
          <!-- <div ng-show="track.deleteAble.state">
            <button class="delete-button ui button" ng-click="$ctrl.removeTrack(track.key)"><i class="trash outline icon"></i>Delete</button>
          </div>
          <div class="ui dropdown segment playlist-add-button" ng-click="openDropDown()">
            <div class="default dropdown-text">Add To</div>
            <i class="dropdown icon"></i>
            <div class="menu">
              <div class="item" ng-repeat="playlist in $ctrl.playlistTabs" ng-click= '$ctrl.addTrack(track.key, playlist.name)'>
                {{playlist.name}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ui section divider"></div>
    </div>
  </div>
</div> -->
