<section class="song-list">
  <music-page-row header="{{$ctrl.header}}">
    <table ng-hide="!$ctrl.songs">
      <tr>
        <th class="hidden-xs"></th>
        <th class="mf-l-content-sides">Title</th>
        <th>Artist</th>
        <th>Duration</th>
      </tr>

      <!-- Description -->
      <tr class="prevent-wrapping default-cursor song animate-repeat"
          ng-repeat= "song in $ctrl.songs track by $index"
          ng-click="$ctrl.playMusic(song)"
          ng-class="{'active-song': $ctrl.selectedSong.name === song.name}">

        <td class="hidden-xs mf-l-relative-parent">
          <img class="song-img" ng-src="{{song.image}}"/>
          <play-button role-type="songList"></play-button>
        </td>
        <td class="mf-l-content-sides">
          <span class="song-name">{{song.name}}</span>
        </td>
        <td>
          <span class="song-artist">{{song.artist}}</span>
        </td>
        <td>
          <span class="song-duration">{{song.duration}}</span>
        </td>
        <td>
        <!--<td ng-click="$ctrl.addSong($event, song, $mdOpenMenu)">-->
          <!--<span class="glyphicon glyphicon-plus"></span>
          <span></span>-->
            
        <md-menu md-position-mode="target-right target">
          <md-button class="md-icon-button" ng-click="$ctrl.openMenu($event, $mdOpenMenu)">
            <span class="glyphicon glyphicon-plus"></span><span>Add to</span>
          </md-button>
          <md-menu-content width="4" >
            <md-menu-item ng-repeat="playlist in $ctrl.availablePlaylists">
              <md-button>
                  <div layout="row" flex ng-click="$ctrl.addSong($event, song, playlist)">
                    <p flex>{{playlist.name}}</p>
                  </div>
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>

        </td>

      </tr>
      <!-- <div>
        <a class="song-company" href="{{song.pageSource}}">Listen on<i class="fa fa-{{song.company}} song-option-icon {{song.company}}"></i><span class="{{song.company}}">{{song.company}}</span>
        </a>
      </div> -->

    </table>
  </music-page-row>


</section>

