<section class="song-list">
  <music-page-row header="{{$ctrl.header}}"
                  company="{{$ctrl.company}}">
    <table ng-hide="!$ctrl.songs">
      <!--<tr>
        <th class="hidden-xs"></th>
        <th class="mf-l-content-sides">Title</th>
        <th>Artist</th>
        <th>Duration</th>
      </tr>-->

      <!-- Description -->
      <tr class="prevent-wrapping default-cursor song animate-repeat"
          ng-repeat= "song in $ctrl.songs track by $index"
          
          ng-class="{'active-song': $ctrl.selectedSong.name === song.name}">
        <div>
        <td class="hidden-xs mf-l-relative-parent" ng-click="$ctrl.playMusic(song)">
          <img class="song-img" ng-src="{{song.image}}"/>
          <play-button role-type="songList"></play-button>
        </td>
        <td class="mf-l-content-sides" ng-click="$ctrl.playMusic(song)">
          <span class="song-name">{{song.name}}</span>
        </td>
        <td ng-click="$ctrl.playMusic(song)">
          <img class="company-logo pull-left" 
               src="/assets/images/music-player/{{song.company}}.svg" 
               ng-show="$ctrl.songList === 'playlist'"
               /> 
          <span class="song-artist">{{song.artist}}</span>
        </td>
        <td ng-click="$ctrl.playMusic(song)">
          <span class="song-duration">{{song.duration}}</span>
        </td>
        <td>
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              <span class="glyphicon glyphicon-plus"></span><span>Add to</span>
            </button>
            <ul class="dropdown-menu">
              <li ng-repeat="playlist in $ctrl.availablePlaylists"
                  ng-click="$ctrl.addSong($event, song, playlist)"
                  class="mf-l-content-xs">
                {{playlist.name}}
              </li>
            </ul>
          </div>
        </td>

      </tr>
      <!-- <div>
        <a class="song-company" href="{{song.pageSource}}">Listen on<i class="fa fa-{{song.company}} song-option-icon {{song.company}}"></i><span class="{{song.company}}">{{song.company}}</span>
        </a>
      </div> -->

    </table>
  </music-page-row>


</section>

