<!--Full sized interface-->

<aside ng-hide="!$ctrl.shouldShow" class="player-interface mf-l-content-sides m-player-border-top hidden-xs">

  <div class="toggle-btn mf-l-content-sides-xs " ng-click="$ctrl.togglePanel($event)">
    close
    <span class="glyphicon glyphicon-chevron-down"></span>
  </div>

  <div class="player-image">   
    <!--<svg class="middle-circle"></svg>-->
    <img class="mf-m-circlify mf-m-rotating" ng-src= "{{$ctrl.currentTrack.image}}">
  </div>

  <div class="player-info default-cursor mf-l-content-sides">
    <div>
      <h4>{{$ctrl.currentTrack.name}}</h4>
      <p>{{$ctrl.currentTrack.artist}}</p>
      <p>{{$ctrl.currentTrack.album}}</p>
    </div>
  </div>

  <div class="player-controls">
    <div class="hidden-xs">
      <duration-bar interface-state="$ctrl.isLoaded"></duration-bar>
    </div>
    <div class="buttons">
      <play-button role-type="music-player"></play-button>
    </div>
  </div>
</aside>

<!-- Mobile interface-->
<aside class="player-interface mf-l-content-bottom  visible-xs">
  <div class="player-image">   
    <!--<svg class="middle-circle"></svg>-->
    <img class="mf-m-circlify mf-m-rotating" ng-src= "{{$ctrl.currentTrack.image}}">
  </div>

  <div class="player-info default-cursor mf-l-content-sides">
    <div>
      <h4>{{$ctrl.currentTrack.name}}</h4>
      <p>{{$ctrl.currentTrack.artist}}</p>
      <p>{{$ctrl.currentTrack.album}}</p>
    </div>
  </div>

  <div class="player-controls">
    <div class="buttons">
      <play-button role-type="music-player"></play-button>
    </div>
  </div>
</aside>
