
<div id="navigation" class="ui inverted segment">
  <div class="ui inverted secondary pointing menu stackable">
    <a id="logo" class="item" href= "http://localhost:3000">
     <span id="logo-title-m">M</span><span id="logo-title">usic Fly</span><img src="assets/images/home/headphone.png" id="logo-picture"></img>
    </a>
    <a class="item" href= "http://localhost:3000/music">Music Player
    </a>
    <a id="sign-up-btn" class="item right aligned">
      Sign Up
    </a>
    <a class="item">
      Log In
    </a>
  </div>
</div>

<div id="sign-up-modal" class="ui modal">
  <i class="close icon"></i>      
  <div id="modal-background" class="description">
    <div class="header">
      <h2 id="sign-up-modal-title">Sign Up </h2>
    <form id="sign-up-fields">
      <label for="username">Username</label>
        <input id="username"type="text">     
      <label for="password">Password</label>
        <input id="password" type="text">      
    </form>
    </div>
  </div>
  <div class="actions">
    <div class="ui black deny button">
      Cancel
    </div>
    <div class="ui positive right labeled icon button">
      Sign Up
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>
