<div class="songs ui row" ng-repeat= "track in player.tracks" data-song = '{{track.name}}' data-company ='{{track.company}}'>
  <div class = "ui grid twelve wide column">
    <div class="ui three wide column">
      <img class="song-img" ng-src="{{track.image}}"/>
    </div>
    <div class="ui nine wide column">
      <div class="song-play">
        <i class="play icon song-play-btn" ng-click="playMusic($event)" data-song="{{track.name}}"></i><span class="song-play-btn" data-song="{{track.name}}" ng-click="playMusic($event)">Play</span>
      </div>
      <div>
        <span data-song ='{{track.name}}'>{{track.name}}</span>
        <p data-song = '{{track.name}}'>{{track.artist}}</p>
        <p data-song = '{{track.name}}'>{{track.album}}</p>
      <div class="song-options">
        <a href="{{track.pageSource}}">Listen on<i class="fa fa-{{track.company}} song-option-icon"></i><span>{{track.company}}</span>
        </a>
      </div>
      </div>
    </div>   
  </div>
  <div class="ui two wide column">    
    <div class="ui dropdown segment playlist-add-button">
      <div class="text">Add To</div>
      <i class="dropdown icon"></i>      
      <div class="menu">
        <div class="item" ng-repeat="playlist in player.playlistTabs" ng-click= 'player.addTrack(track.name, playlist.name)'>
          {{playlist.name}}
        </div>
      </div>
    </div>
  </div>
</div>
