<div class="home-page"

<!--Landing -->
<section class="landing mf-l-full-stretch">
  <!-- <div class="darken-overlay"></div> -->
  <div class="container vertical-center">
    <div class="row">
      <h1>Your Music In One</h1>
      <p>Music Fly combines the music you love from Soundcloud and Spotify</p>
      <a href="#music-section"><button class="ui inverted white button">Start Listening</button></a>
    </div>
  </div>

</section>

<!--information Section-->

<div class="section-one container">
  <div class="">
    <!-- first -->
    <div id="first-section" class="ui five wide column">
      <div id="section-title">
        <h2>
          Music Anywhere
        </h2>
        <p>Music Fly is a MEAN Stack Application that utilizes the Spotify and Soundcloud APIs to bring music from both services. Search for different songs, create playlists, and play music all in one application. This website is for demo purposes only. All intellectual property belongs to either Spotify or Soundcloud and their affiliates</p>
      </div>
    </div>
    <!-- Second -->
    <div id="second-section" class="ui eleven wide column"></div>
  </div>
</div>


</div>
