<!--Landing -->

<div id="landing" class="ui fluid container">
  <!-- <div class="hero-overlay">
  <div id="jumbotron">
    <h1 id="jumbotron-title">Your Music In One</h1>
    <div id="jumbotron-text">
      <p>Music Fly combines the music you love from Soundcloud and Spotify</p>
      <p></p>
      <div id="start-button">
        <a href="#music-section"><button class="ui inverted white button">Start Listening</button></a>
      </div>
    </div>
  </div>
  </div> -->
</div>

<!--information Section-->

<!-- <div id="information-section" class="ui fluid container">
  <div class="both-sections ui stackable sixteen column grid"> -->
    <!-- first -->
    <!-- <div id="first-section" class="ui five wide column">
      <div id="section-title">
        <h2>
          Music Anywhere
        </h2>
        <p>Music Fly is a MEAN Stack Application that utilizes the Spotify and Soundcloud APIs to bring music from both services. Search for different songs, create playlists, and play music all in one application. This website is for demo purposes only. All intellectual property belongs to either Spotify or Soundcloud and their affiliates</p>
      </div>
    </div> -->
    <!-- Second -->
    <!-- <div id="second-section" class="ui eleven wide column"></div>
  </div>
</div> -->


</div>
