<div id="music-section" ng-controller="musicSearch as player">

  <!--Page Section -->
  <!-- <div id="pages-section" class=""> -->

    <div ng-if="player.tracks" id="song-interface" class="music-page page-structure hidden" data-page="search">
      <div id="search-page">
        <div id="search-list">
          <h4 class="list-title">Search Results</h4>
          <song-list></song-list>
        </div>
      </div>
    </div>
    <div ng-repeat= "playlistPage in player.playlistTabs" data-page="{{playlistPage.name}}" class="music-page page-structure hidden">
      <div id="playlist-page">
        <div id="playlist-list">
          <h4 class="list-title">{{playlistPage.name}}</h4>
           <song-list></song-list>
         </div>
      </div>
    </div>
   </div>
