

%round-corners {
  border-radius: 5px;
}

duration-bar {
  $entire-width: 100%;
  $entire-height: 3px;
  $stubby-width: 15px;

  line-height: 0;
  font-size: 0;

  .duration-bar {

    span {
      display: inline-block;
    }
    
    .entire-bar {
      height: $entire-height;
      background-color: $grey;

      @extend %round-corners;

      &:hover {
        .stubby-bar{
          visibility: visible;
        }
      }
    }

    .time-elapsed-bar {
      height: $entire-height;
      background-color: $light-orange;
    }

    .stubby-bar {
      width: $stubby-width;
      height: $entire-height;
      background-color: $white;
      position: relative;
      visibility: hidden;
      // @include transition(left, 20s);
    }

  }
}
