

%round-corners {
  border-radius: 5px;
}

duration-bar {
  $entire-width: 300px;
  $entire-height: 10px;
  $stubby-width: 30px;

  line-height: 0;
  font-size: 0;

  .duration-bar {

    span {
      display: inline-block;
    }
    
    .entire-bar {
      width: $entire-width;
      height: $entire-height;
      background-color: $grey;

      @extend %round-corners;
    }

    .time-elapsed-bar {
      height: $entire-height;
      background-color: $light-orange;
    }

    .stubby-bar {
      height: $entire-height;
      background-color: $light-orange;
      position: relative;
      @extend %round-corners;
      // @include transition(left, 20s);
    }

  }
}
