<section class="music-page container-fluid">
  <music-page-row header="Search">
    <music-search></music-search>
  </music-page-row>
  
  <featured-page></featured-page>
  
  <!--Playlist component-->
  <song-list ng-if="$ctrl.hasPlaylist"
             songs="$ctrl.playlistTracks"
             header="{{$ctrl.header}}"
             song-list="playlist"
             >
  </song-list>

  <!--Search list components-->
  <song-list ng-if="!$ctrl.hasPlaylist && $ctrl.songs"
             header="{{$ctrl.header}}" 
             songs="$ctrl.soundcloudTracks"
             song-list="soundcloud"
             >
  </song-list>

  <song-list ng-if="!$ctrl.hasPlaylist && $ctrl.songs" 
             header="{{$ctrl.header}}" 
             songs="$ctrl.spotifyTracks"
             song-list="spotify"
             >
  </song-list>

</section>
