<section class="music-page container-fluid">
  <music-page-row header="Search">
    <music-search></music-search>
  </music-page-row>
  
  <featured-page ng-if="!$ctrl.showSongs"></featured-page>
  
  <!--Playlist component-->
  <song-list ng-if="$ctrl.hasPlaylist && $ctrl.showSongs"
             songs="$ctrl.playlistTracks"
             header="{{$ctrl.header}}"
             song-list="playlist"
             >
  </song-list>

  <!--Search list components-->
  <div class="row">
      <div class="col-xs-12 col-md-6">
        <song-list ng-if="!$ctrl.hasPlaylist && $ctrl.showSongs"
              header="{{$ctrl.header}}" 
              songs="$ctrl.soundcloudTracks"
              song-list="soundcloud"
              company="soundcloud"
              >
        </song-list>
      </div>

    <div class="row">
      <div class="col-xs-12 col-md-6">
        <song-list ng-if="!$ctrl.hasPlaylist && $ctrl.showSongs" 
              header="{{$ctrl.header}}" 
              songs="$ctrl.spotifyTracks"
              song-list="spotify"
              company="spotify"
              >
        </song-list>
      </div>
    </div>
  </div>


</section>
