<section class="row">
  <div class="row-header">
    <div class="mf-l-content">
      <h4 class="m-player-border-bottom">    
        {{$ctrl.header}}
        <span ng-if="$ctrl.company" class="results-header">
          <i class="fa fa-{{$ctrl.company}}"></i>
          <span>{{$ctrl.company}}</span><span ng-if="$ctrl.company === 'spotify'">&nbsp;(preview only)</span>
        </span>
      </h4>
    </div>
  </div>
  <div class="mf-l-content-sides">
    <ng-transclude></ng-transclude>
  </div>
</section>
