featured-section {
  .featured-section {

    .genre-row {
      margin-bottom: 60px;
    } 

    // Overlay component
    content-overlay {
      .darken-overlay {
        height: 220px;
        width: 220px;
      }
    }
    
    img {
      height: 220px;
      width: 220px;
    }

    // Artist row only
    .artist-row {
      content-overlay {
        .darken-overlay {
          @include transition(all, .3s);
          opacity: 0;
        }
      }

      h4 {
        @include transition(all, .3s);
        opacity: 0;
      }

      &:hover {
        content-overlay {
          .darken-overlay {
            opacity: 1;
          }
        }
        h4 {
          opacity: 1;
        }
      }
    }

  }
}