featured-section {
  .featured-section {

    .genre-row {
      margin-bottom: 60px;
    } 

    // Overlay component
    content-overlay {
      .darken-overlay {
        height: 220px;
        width: 220px;
      }

      h4 {
        z-index: 3;
        font-weight: 700;
      }
    }
    
    img {
      height: 220px;
      width: 220px;
    }

    // Artist row specific
    .artist-row {
      margin-bottom: 30px;
      content-overlay {
        .darken-overlay {
          @include transition(all, .3s);
          opacity: 0;
        }

        h4 {
          @include transition(all, .3s);
          opacity: 0;
        }

        &:hover {
          .darken-overlay {
            opacity: 1;
          }

          h4 {
            opacity: 1;
          }
        }      
      }
    }

  }
}
