// Companies
$spotify: #2ebd59;
$soundcloud: #ff8800;

// Oranges
// $dark-orange: #C88F28;
$dark-orange: #ff8300;
$light-orange: #FF8300;

// Grey
$grey: #828282;
$light-grey: #6d6d6d;
$dark-grey: #232323;

//red
$error-red: #942c2c;

// Black
$playerBlack: #191919;
$panelBlack: #212223;
$lowContrastBlack: #060606;

// white
$white: #ffffff;


.error-text {
  color: $error-red;
}
