// Overrides for default bootstrap behavior

body {
  background-color: $playerBlack;
}

li {
  list-style-type: none;
}

// Nav Overrides
nav.navbar-fixed-top {
  z-index: 1;
}

.nav > li > a:hover {
    background-color: transparent;
}

// Removes default blue outlines
:focus {
  outline: none !important;
}
