$header-font: Helvetica, Arial, san-serif;
$body-font: lato, arial, Open-Sans;

h1, h2, h3 {
  font-family: $header-font;
  color: $dark-orange;
}

h4, h5 {
  font-family: $header-font;
  color: $white;
  text-transform: uppercase;
}

h6 {
  font-family: $header-font;
  color: $white;
  text-transform: none;
}

p {
  font-family: $body-font;
}

span {
  color: $white;
}

a {
  font-family: $body-font;
}
