<section class="music-panel mf-u-padtop-35">
  <div class="default-cursor mf-l-content-sides m-player-border-top">
    <span class="glyphicon glyphicon-star-empty"></span>
    <h6>Featured</h6>
   
  </div>
  <div class="default-cursor mf-l-content-sides m-player-border-top">
     <span class="glyphicon glyphicon-th-list"></span>   
     <h6>Playlists</h6>
        <ul>
          <li ng-repeat="playlist in $ctrl.playlists track by $index"
              ng-click="$ctrl.switchPlaylist($index)">
            {{playlist.name}}
          </li>
          <!--Add new Button and input-->
          <li ng-hide="$ctrl.isAddingPlaylist" 
              ng-click="$ctrl.showNewField()"
              ><span class="glyphicon glyphicon-plus"></span><p>Add new<p>
          </li>
          <li ng-hide="!$ctrl.isAddingPlaylist" ng-keypress="$ctrl.addNewPlaylist($event)">
            <input ng-model="$ctrl.newListName"></input>
          </li>
        </ul>
  </div>
</section>
