<section class="music-panel mf-u-padtop-35">

  <!--Featured-->
  <div class="mf-l-content-sides" ng-click="$ctrl.switchFeatured()">
    <span class="glyphicon glyphicon-star-empty"></span>
    <h6 class="mf-btn orange-text">Featured</h6> 
  </div>

  <!--Playlist-->
  <div class="default-cursor mf-l-content-sides">
     <span class="glyphicon glyphicon-th-list"></span>   
     <h6>Playlists</h6>
        <ul>
          <li ng-repeat="playlist in $ctrl.playlists track by $index"
              ng-click="$ctrl.switchPlaylist($index)"
              class="mf-btn orange-text">
            {{playlist.name}}
          </li>
          <!--Add new Button and input-->
          <li ng-if="!$ctrl.isAddingPlaylist" 
              ng-click="$ctrl.showNewField($event)"
              ><span class="glyphicon glyphicon-plus"></span><span class="mf-btn orange-text">Add new<span>
          </li>
          <li ng-if="$ctrl.isAddingPlaylist" 
              ng-keypress="$ctrl.addNewPlaylist($event)"
              class="m-input-underline-effect">
            <input class="panel-input" mf-auto-focus="true" ng-model="$ctrl.newListName"></input>
            <span></span>
          </li>
        </ul>
  </div>

</section>
