
// Relatively moves leftinside a container
@mixin move-left($space-remaining: 10px) {
  position: relative;
  left: $space-remaining;
}

// Absolute centering
@mixin absolute-center () {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin absolute-left () {
  position: absolute;
  left: 0;
}

// Fixed Bottom
@mixin fixed-bottom () {
  position:fixed;
  bottom: 0px;
}


.mf-l-absolute-center {
  @include absolute-center();
}

.mf-l-absolute-left {
  @include absolute-left();
}

// Enables Relative parent
.mf-l-relative-parent {
  position: relative;
}
