/**************
Default Transition
***************/

@mixin transition ($what: all, $duration: .4s, $timing: linear, $delay: null ) {
  -webkit-transition: $what, $duration, $timing, $delay;
  -moz-transition:    $what, $duration, $timing, $delay;
  -o-transition:      $what, $duration, $timing, $delay;
  transition:         $what, $duration, $timing, $delay;
}
