<!DOCTYPE html>
<html ng-app="home">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <script type="text/javascript" src="/angular/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.js"></script>
    <title>Music Fly</title>
  </head>
  <body>
    <a href= "http://localhost:3000/music"><input type="button" value="Go to Music Section"></a>
    <div ng-app="nav">
      <div>
        {{test}}
      </div>
    </div>
    <div ng-controller="hero" id="hero">
      <hero-video/>
    </div>    
    <div ng-view></div> 
  </body>
  <script type="text/javascript" src="/js/navigation/nav.js"></script>
  <script type="text/javascript" src="/js/home/home.js"></script> 
</html>