<html ng-app= "musicApp">

<script type="text/javascript" src="/angular/angular.js"></script>
<link rel="stylesheet" type="text/css" href="/css/home.css">
  <body>
    <div>
      <div ng-controller="spotifyController as spotify">
        <li ng-repeat= "track in spotify.tracks">
          {{track.name}} {{track.artists[0].name}} {{track.album.name}}
        </li>
        <div>
          <input id="searchBox" type="text" ng-model="query">
          <music-directive/>
        </div>
    
      </div>
    </div> 
  <script type="text/javascript" src="/js/music/music.js"></script>
  </body>
</html>