<html ng-app= "musicApp">

<script type="text/javascript" src="/angular/angular.js"></script>
<link rel="stylesheet" type="text/css" href="/css/home.css">
  <body>
    <div>
      <div id="spotify-section" ng-controller="spotifyController as spotify">
        <h2>Spotify</h2>
        <li ng-repeat= "track in spotify.tracks">
          {{track.name}} {{track.artists[0].name}} {{track.album.name}}
        </li>
        <div>
          <input id="searchBox" type="text" ng-model="query">
          <music-directive/>
        </div>
        <audio src='https://p.scdn.co/mp3-preview/2d89e5af25a276eaf6b9e56baef79a543263afab' controls preload="auto"></audio>       
      
      </div>
    <div id="sc-section" ng-controller= "scController as sc">
        <h1>Soundcloud</h1>
        {{sc.test}}
    </div>

    </div> 
  <script type="text/javascript" src="/js/music/music-app.js"></script>
  <script type="text/javascript" src="/js/music/spotify-music.js"></script>
   <script type="text/javascript" src="/js/music/sc-music.js"></script>
  </body>
</html>