
#hero {
  height: 500px;
  /*width: 1000px;*/
}

/*#navigation {
  background-color: rgba(0 0 0)
}*/

#logo {
  margin-right: 80px;
  margin-left:80px;
  
}

#logo-picture {
  width:100px;
  position:absolute;
  left:-80px;
  top:-7px;
}

#hero-img {
  width: 100%;
  height: 700px;
  position: absolute;
  top: 30px;
  z-index: -1;
}




/*http://slicejack.com/creating-a-fullscreen-html5-video-background-with-css/*/