$logo: #FF8300;


#hero {
  height: 500px;
  /*width: 1000px;*/
}

/*#navigation {
  background-color: rgba(0 0 0)
}*/

#hero-img {
  width: 100%;
  height: 700px;
  position: absolute;
  top: 30px;
  z-index: -1;
}




/*http://slicejack.com/creating-a-fullscreen-html5-video-background-with-css/*/