$soundcloud: #ff8800;
$spotify: #2ebd59;
$logo: #FF8300;

#music-app {
  /*background-image:url(../assets/images/music-player/mosaic.jpg);*/
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0px;
/*  height: 2000px;*/
  font-size: 1.1em;
}

#logo {
  margin-right: 60px;
  margin-left:80px;
  font-family: helvetica;
}

#logo-title-m {
  color: $logo;
  position:absolute;
  left: -66px;
  font-size: 45px;
}

#logo-title {
  position: relative;
  top: 10px;
  font-size: 25px;
  left: -20px;
  color:white;
  letter-spacing: 1px
}

#logo-picture {
  width:70px;
  position:absolute;
  left:-82px;
  top:-18px;
}

/*Search Fields */

#search-header {
  font-weight: 900;
}

#search-type {
  margin-bottom: 10px;
}

.soundcloud {
 color: $soundcloud;
}

.spotify {
  color: $spotify;  
}

#icon-box {
  margin-left: 2px;
  cursor: pointer;
  margin-top: 7px;
}

#sc-box {
  width: 90%;
  color: black;
}

#spotify-box {
  width:90%;
  color: black;
}





/*player Tabs*/

#menu-tools{
  overflow-x: hidden !important;
  height: 270px;
  overflow: scroll;
}

 
#player-menu {
 /* color: white;*/
  width: 220px !important;
  position: fixed;
  /*background-color: black;*/
}

#main {
  margin-top: 10px;
  font-weight: 900;
}

#top-artists {
  margin-top: 8px;
  margin-left: 7px;
  font-weight: 300;
}

#playlist-add {
  color: $logo;
  margin-left: 7px;
  font-weight: 300;
  cursor: pointer;
}

#playlist-header {
  margin-bottom: 8px;
}

#playlist-field {
  width: 100px;
  display: block;
  font-weight: 300;
  font-size: 1em;
  margin-left: 27px;
}

#playlists {
  margin-top: 10px;
  font-weight: 900;
}

.playlist-tab {
  margin-left: 7px;
  font-weight: 300;
}

.music-tab {
  cursor:pointer;
  list-style-type: none;
 /* margin-top: 8px;*/
}



/*Player Pages */

#pages-section {
  position: relative;
  left: 300px;
}

.hidden {
  display: none;
}

.music-page {
  list-style-type: none;
}

/* Music Player*/

#music-player {
  margin-top: 5px;
  position: relative;
  left: -20;
  width: 215px;
}

#player-track-title {
  margin-bottom: 0px;
}

#track-info {
  margin-top: 10px;
  text-align: center;
}

#player-track-artist {
  margin-bottom: 0px;
}

#player-img {
  width: 93%;
  height: 140px;
}

#player-controls {
  text-align: center;
  margin-top: 10px;
  color: $logo;
}

/* Track List */

#search-list {
  margin-top: 20px;
}

.songs {
  list-style: none;
}

.highlight {
  color: blue;
}

.song-img {
  width: 100px;
  height: 100px;
}

.song-option-icon {
  margin-left: 10px;
}

.song-play {
  margin-bottom: 15px;
}

.song-play-btn {
  cursor: pointer;
  ;
}

.song-list-info {
  margin-top:10px;
}


























