

#music-app {
  margin-top: 50px;
  border: solid;

  height: 500px;
}

/* Music Player*/

/*#player-img {
  height:180px;
  img{
    width: 100%;
    height:100%;
  }
}*/
#track-info {
  margin-top: 30px;
}

#player-track-artist {
  margin-bottom: 4px;
}

#player-controls {
  text-align: center;
  margin-top: 30px;
}


/*player Tabs*/

#playlist-add {
  display: block;
}

#playlist-field {
  width: 100px;
}

/*Player Pages */

.hidden {
  display: none;
}



/* Track List */

#search-list {
  margin-top: 20px;
}

.songs {
  list-style: none;
}

.highlight {
  background-color: blue;
}





























