$soundcloud: #ff8800;
$spotify: #2ebd59;
$logo: #FF8300;
$textGrey: #828282;
$playerBlack: #212223;

/* Global */

li {
  list-style-type: none;
}

.grid-space {
  margin-top: 0rem !important;
}

/* Main */

#music-player-header {
  width: 100%;
  height: 81px;
  background-color: $playerBlack;
  border-bottom: solid 1px;
}

#music-app {
  padding-top: 0px; 
  padding-bottom: 0px;
  margin-top: 0px;
  font-size: 1.1em;
}

#player-logo {
  color: $logo;
  font-size: 45px;
  font-family: helvetica;
  position: relative;
  left: -53.5px;
  cursor: default;
}

#player-logo-img {
  width: 70px;
  margin-left: 10px;
}

#player-toggle {
  color: $textGrey;
  display: inline-block;
  font-size: 20px;
  top: -15;
  position: relative;
  left: -30px;
  visibility: hidden;
}

#player-toggle:hover {
  color: white;
}

/*Search Fields */

#search-header {
  font-weight: 900;
}

#search-type {
  margin-bottom: 10px;
}

.soundcloud {
 color: $soundcloud;
}

.spotify {
  color: $spotify;  
}

#spotify-icon {
  margin-left: 4%;
}

#sc-icon {
  margin-left: 4%;
}

#icon-box {
  margin-left: 2px;
  cursor: pointer;
  margin-top: 7px;
}


#sc-box {
  width: 180px;
  border-radius: 0px;
}

#spotify-box {
  width: 180px;
  border-radius: 0px;
}
/*player Tabs*/

#menu-tools{
  
}

#player-menu {
  width: 272px !important;
  display: inline-block;
  color: #828282;
  background-color: $playerBlack;
  padding-left: 35px;
  padding-top: 60px;
  padding-bottom: 60px;
}

#main {
  margin-top: 30px;
  font-weight: 900;
}

#main-home {

  margin-top: 8px;
  margin-left: 7px;
  font-weight: 300;
}

#playlist-add {
  margin-left: 7px;
  font-weight: 300;
  cursor: pointer;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

#playlist-add:hover {
  background-color: $logo;
  color: white;
}

#playlist-header {
  margin-bottom: 8px;
}

#playlist-field {
  width: 100px;
  display: block;
  font-weight: 300;
  font-size: 1em;
  margin-left: 27px;
}

#playlists {
  margin-top: 10px;
  font-weight: 900;
}

.playlist-tab {
  margin-left: 7px;
  font-weight: 300;
}

.music-tab {
  /*width: 100%;*/
  cursor:pointer;
  list-style-type: none;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

.music-tab:hover {
  background-color: $logo;
  color: white;
}



/*Player Pages */

#pages-section {
  display: inline-block;
  color: #828282;
  cursor: default;
  width: 500;
  height: 500;
  /*background-color: beige;*/
}

.hidden {
  display: none;
}

.music-page {
  list-style-type: none;
}

.page-structure {
  padding-top: 30px;
  padding-left:80px;
}

#track-list {
  margin-top:30px;
}

.list-title {
  color: black;
}

/* Home Page */

#home-content {
  padding-top: 100px;
  padding-left: 100px;

  h4 {
    font-size: 1.8em;
  }
}


.home-row {

}

.artist-box {
  height: 150px !important;
  width: 150px !important;
  background-size: cover;
  margin-right: 60px;
  margin-bottom: 60px;
  img {
    height: 100%;
    width: 100%;
  }
}

.artist-description {

}

/* Music Player*/

#music-player {
  margin-top: 50px;
  left: -20;
  width: 215px;
  padding-right: 15px;
}

#player-track-title {
  margin-bottom: 0px;
}

#track-info {
  margin-top: 10px;
  text-align: center;
}

#player-track-artist {
  margin-bottom: 0px;
}

#player-img {
  width: 180px;
  height: 150px;
}

#player-controls {
  text-shadow:#fff 0 0 10px;
  text-align: center;
  margin-top: 10px;
  color: $logo;
}


/* Track List */

#search-list {
  margin-top: 20px;
  h4 {
    font-size: 1.8em;
  }
}

#playlist-list {
  margin-top: 20px;
    h4{
      font-size: 1.8em;
    }
}

.songs {
  list-style: none;
}

.song-description {
  padding-left: 70px !important;
}

.song-img {
  width: 150px;
  height: 150px;
}

.song-option-icon {
  margin-left: 10px;
  margin-right: 3px; 
}

.song-play {
  color: $logo;
  margin-bottom: 15px;
}

.song-play-btn {
  cursor: pointer;
  ;
}

.song-list-info {
  margin-top:10px;
}

.dropdown-text {
  display: inline;
}

.playlist-add-button {
  width: 100px !important;
  padding: 8px !important;
}



/*media queries*/

@media (min-width: 1700px) {
  /*body {
    margin-left: auto;
    margin-right: auto;
    width: 1700px;
  }*/
  #pages-section {
    width: 1600px;
  }
  #song-interface {
    padding-left: 150px;
  }
  #playlist-page {
    padding-left: 150px;
  }
}

@media (max-width: 1000px) {
  .song-img {
    width: 100px;
    height: 100px;
  }
  .song-description {
    padding-left: 50px;
    font-size: 14px;
  }
}

@media (max-width: 870px) {
  #player-toggle {
    visibility: visible;
  }

  #music-app {
    margin-left: 0px;
  }
  #song-interface {
    padding-left: 30px;
    width: 100% !important;
  }
  #pages-section {
    width: 100% !important;
    padding-left: 0px;

  }
  #logo-title {
    visibility: hidden;
  }
  #player-menu {
    position: absolute;
    z-index: 1;
    margin-top: 0px;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 0px;
  }
}




















