<section class="sign-up-modal">

  <h2>Sign In</h2>
  <form name="signUp" novalidate>
    <div>
      <label>Username</label>
      <input  name="username" 
              required 
              type="text"
              ng-model="$ctrl.signInInfo.username" 
              ng-model-options="{ updateOn: 'blur' }"
              /> 
      <p ng-show="signUp.username.$error.required && signUp.username.$dirty">
        Please enter a valid username
      </p>
    </div>
    <div>
      <label>Password</label>
      <input name="password"
             required 
             type="text" 
             ng-model="$ctrl.signInInfo.password"
             ng-model-options="{ updateOn: 'blur' }"
             /> 
      <p ng-show="signUp.password.$error.required && signUp.password.$dirty">
        Please enter a valid password
      </p>
      <p ng-show="signUp.password.$error.required && signUp.password.$dirty">
        Could not sign in, please check your username and password
      </p>
    </div>
    <div>
      <button type="submit" ng-click="$ctrl.submitForm()" ng-disabled="signUp.$invalid">Sign In</button>
      <button ng-click="$ctrl.close()">Cancel</button>
      <button ng-click="$ctrl.test()"></button>
    </div>
  </form>