<div class="play-button">

 <!-- track list button -->
 <div ng-if="$ctrl.roleType === 'songList'">
  <span class="glyphicon glyphicon-play-circle mf-l-absolute-center"></span>
 </div>

 <!-- Music player button -->
 <div ng-if="$ctrl.roleType === 'music-player'">
  <span class="glyphicon glyphicon glyphicon-backward" ng-click="$ctrl.previousSong()"></span>

  <span class="glyphicon glyphicon-play" 
        ng-click="$ctrl.resumeMusic()"
        ng-show="!$ctrl.playState.playing"
        >
  </span>
  <span class="glyphicon glyphicon-pause" 
        ng-click="$ctrl.pauseMusic()"
        ng-show="$ctrl.playState.playing"
        >
  </span> 

  <span class="glyphicon glyphicon-forward" ng-click="$ctrl.nextSong()"></span>
 </div>

</div>
