/*
 * Button Type Mixins
 */

 %button {
   vertical-align: middle;
   background-color: transparent;
   border: none;
   border-radius: 0px;
 }

 %stretch {
   width: 100%;
   text-align: left;
 }

 @mixin outline-none ($text-color, $hover: false) {
  @extend %button;

   @if $hover != false {

    &:hover {
     color: $text-color;
     background-color: none;
    }
  }
 }

 @mixin fill-button ( $text-color: $white, $fill: $dark-orange) {
   @extend %button;

   &:hover {
     color: $text-color;
     background-color: $fill;
   }

 }

 /*
  * Button classes
  */

 .btn.mf-btn {
   font-size: to-rem(24px);
   color: #ffffff;
   @include transition(all, 0.25s);

   &:focus {
     outline: none;
   }

   // Text only modifications
   &.orange-text {
     @include outline-none($dark-orange, true);
   }

   // Fill Modifications
   &.orange-fill {
     @include fill-button();
   }

 }

 // Full width buttons
 .btn-stretch {
   @extend %stretch;
 }
