/*
 * Button Type Mixins
 */

 @mixin outline-none ( $text-color, $no-hover: false) {
   vertical-align: middle;
   background-color: transparent;
   border: none;

   @if $no-hover != false {

    &:hover {
     color: $text-color;
    }
  }
 }

 /*
  * Button classes
  */

 .btn.mf-btn {
   color: #ffffff;
   @include transition(all, 0.25s);

   &:focus {
     outline: none;
   }

   // Text only modifications
   &.orange-text {
     @include outline-none($dark-orange, true);
   }
 }
