%player-border {
  border-color: $grey;
  border-style:  solid;
  border-width: 0px;
}

.m-player-border-top {
  @extend %player-border;
  border-top-width: 1px;
}

.m-player-border-bottom {
  @extend %player-border;
  padding-bottom: 10px;
  border-bottom-width: 1px;
}

.m-border-sandwich {
  @extend %player-border;
  border-width: 1px 0px;
}